/* Styles for HomePage */
.home-page {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    
    
  }

/* MovieCard.css */

.movie-card {
    display: flex;
    flex-direction: column;
    border: 4px solid #ddd;
    border-radius: 8px;
    max-width: 300px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    max-height: 60%;
    height: 60%;
    object-fit: contain;
   
    /* Set a max-height for the card */
}

/* Increase the height of the movie poster */
.movie-poster {
    
    max-height: 40%; /* Adjust this to control the maximum height of the image */
    width: 100%;
    height: 200px;
    object-fit: contain;
    border: 1px solid black;  
}

.movie-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Allow the movie info to grow within the card */
}

.movie-title h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-release-date {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  .like-icon {
    position: absolute;
    top: 10px; /* Adjust the vertical position as needed */
    right: 10px; /* Adjust the horizontal position as needed */
    z-index: 2;
    color: black; /* Change the color of the heart icon as desired */
    font-size: 20px; /* Adjust the font size as needed */
    cursor: pointer;
    
    border: 1px solid black;
  }
  
  .like-icon:hover {
    color: darkred; /* Change the color on hover as desired */
  }
  